/*index.html*/


* {
  margin: 0%;
  padding: 0%;
}

.botonflotante{
bottom: 10px;
right: 10px;
position: fixed;
}

.mobile{
  display: none;
}

/* Nav manual */


.logo {
  width: 185px;
  height: 63px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 3rem;
  min-height: 90px;
  position: sticky;
  z-index: 1;
  top: 0%;
  background: linear-gradient(
    90deg,
    #1792b3 2.15%,
    #0bb4bf 42.21%,
    #32d5a6 73.81%,
    #63d381 100%
  );
  font-family: Bebas Neue;
  font-size: 1.25em;
  letter-spacing: 0.03em;
  box-shadow: 4px 5px 5px 1px rgba(0,0,0,0.1);
}

a:hover {
  color: #1792b3;
}

ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  color: #ffffff;
}

li {
  padding: 0rem 2rem;
}

.navhamburguesa{
  display: none;
}

/*NAV CON BOOSTRAP*/

.bg-light {
  --bs-bg-opacity: 0;
}

.navbar-light 
.navbar-toggler {
  border-color: transparent;
  color:transparent;

}

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  align-items: center;
  list-style: none;
}

.offcanvas-title{
  visibility: hidden;
}

.navbar-brand{
  visibility: hidden;
}

/*imagen y descripcion*/

.imagenportada{
  max-height: 100%;
  width: 100%;
}

/*Main*/

main {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
  padding-bottom: 84px;
}

.titulos {
  font-family: Bebas Neue;
  font-weight: normal;
  font-size: 32px;
  letter-spacing: 0.05em;
  color: #95D15D;
  width: 80%;
}

#tituloqueeslaesi{
  text-align: right;
}

main p {
  width: 80%;
  padding-top: 45px;
  padding-bottom: 120px;
}

.contenedorindex{
  display: flex;
 flex-direction: row;
 padding-left: 5rem;
}

.contenedorindex2{
  display: flex;
  flex-direction: row;
  padding-left: 6rem;
}

.contenedorimg{
  width: 40%;
  height: 40%;
}

.esiDerecho {
  font-weight: 600;
  color: #70BC7B;
}

.queeslaesi{
text-align: right;
padding-right: 0rem;
}

.brindarHerramientas {
  font-weight: 600;
  color: #70BC7B;
}

/*botones*/

.boton {
  width: 200px;
  height: 60px;
  background: #95d15d;
  border: none;
  border-radius: 15px;
  font-family: Bebas Neue;
  font-size: 20px;
  letter-spacing: 0.03em;
  color: #ffffff;
  cursor: pointer;
  box-shadow: 4px 5px 5px 1px rgba(0,0,0,0.2);
}

/*footer*/

footer {
  display: flex;
  padding: 2rem;
  background: linear-gradient(
    90deg,
    #1792b3 2.15%,
    #0bb4bf 42.21%,
    #32d5a6 73.81%,
    #63d381 100%
  );
  font-family: Montserrat;
  font-size: 14px;
  color: #eff4f7;
}

.titulosdelfooter{
  font-size: 16px;
  line-height: 27px;
  color: #414141;
  padding-top: 1rem;
}

.frase-footer{
  margin-bottom: 0.5rem;
}

/*SOBRE NOSOTROS--------------------------------------------------------------------*/

.display2 {
  display: flex;
  justify-content: end;
}

.posicionamientoJerarquia {
  color: #226fa8;
}

.formatoimagen {
  width: 65%;
}

.tituloVos {
  color: #1792b3;
}

.quienesSomos {
  font-weight: 600;
  color: #1792b3;
}
.numeroCirculo {
  padding-top: 0%;
  padding-bottom: 0%;
  width: fit-content;
  color: #ffffff;
}

li div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  background: #0bb4bf;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.grid {
  list-style-type: none;
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-areas:
    "a1 a2"
    "a3 a4"
    "a5 a6";
  list-style-type: none;
}

.contenedorli {
  margin: 0%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

ol div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  background: #0bb4bf;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 10px;
  margin-left: 20px;
  grid-area: a1;
  padding-top: 1rem;
}

.circulo2 {
  background: #95d15d;
  grid-area: a3;
}

.circulo3 {
  background: #fec01d;
  grid-area: a5;
}

.proponemos{
  padding-bottom: 40px;
}

/*CURSO*/

ol {
  width: 80%;
  padding-top: 45px;
  padding-bottom: 90px;
}

.adquirirCurso {
  padding-bottom: 0px;
}

.grid2 {
  list-style-type: none;
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-areas:
    "a1 a2"
    "a3 a4"
    "a5 a6"
    "a7 a8";
  list-style-type: none;
}

.contenedorli4 {
  grid-area: a8;
}

.circulo4 {
  grid-area: a7;
  background-color: #226fa8;
}

.seccioncartas{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 3rem;
}

.card-text{
  padding-bottom: 30px;
}

.card-title{
  font-family: Bebas Neue;
}

.imagencurso{
width: 100%;
}

/*REGALA ESI*/

#carouselExampleIndicators{
  z-index: 0;
}

.carousel-indicators{
  margin-bottom: -1rem;
}

.carousel-indicators [data-bs-target] {

  background-color: #226fa8;
}

.carousel-control-prev {
  display: none;
}

.carousel-control-next {
  display: none;
}

.completas {
  grid-area: a2;
  padding-left: 0%;
}

.abonas {
  grid-area: a4;
  padding-left: 0%;
}

.tellega {
  grid-area: a6;
  padding-left: 0%;
}
/*CONTACTO---------------------------------------------------------------------------*/

#boton2 {
  width: 145px;
  height: 53px;
}

.gridForm {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50px 60px 80px 60px 80px 220px;
  grid-template-areas:
    "a1 a2"
    "a3 a4"
    "a5 a6"
    "a7 a8"
    "a9 a9"
    "a10 a10"
    "a11 a11";
  padding-left: 80px;
  padding-top: 50px;
  width: 65%;
  height: 652px;
  border-radius: 20px;
  border: 4px solid #95d15d;
  box-shadow: 4px 5px 5px 1px rgba(0,0,0,0.2);
}

.nombre-ingresa {
  grid-area: a1;
  padding-right: 80px;
}

.nombres-ingresa2 {
  grid-area: a3;
}

.apellido-ingresa {
  grid-area: a2;
}

.apellido-ingresa2 {
  grid-area: a4;
}

.email-ingresa {
  grid-area: a5;
  margin-top: 25px;
}

.email-ingresa2 {
  grid-area: a7;
}

.celular-ingresa {
  grid-area: a6;
  margin-top: 25px;
}

.celular-ingresa2 {
  grid-area: a8;
}

.mensaje-ingresa {
  grid-area: a9;
  margin-top: 25px;
}

.mensaje-ingresa2 {
  grid-area: a10;
}

form .boton {
  grid-area: a11;
}

.botonenviar{
  padding-top: 2rem;
}

.obligatorio{
  padding: 2rem 0 0 0;
  text-align: center;
  font-size: 16px;
}


label {
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.05em;
  color: #5C5C5C;
}

input {
  background: #ffffff;
  border-radius: 18px;
  font-size: 16px;
  border: none;
  width: 70%;
  height: 50px;
  outline: none;
  border: 3px solid #DBC632;
}

::placeholder {
  padding-left: 15px;
}

textarea {
  width: 85%;
  border-radius: 20px;
  border: none;
  border: 3px solid #DBC632;
}

@media screen and (max-width: 991px) {
  
  .navprincipal{
    display: none;
  }
  
  .navhamburguesa{
    display: inline;
  }
  
  .navbar-light .navbar-toggler{
    padding-top: 1rem;
    padding-right: 1rem;
  }
}
  

@media screen and (max-width: 700px) {


/*NAV RESPONSIVE*/

  header {
    height: fit-content;
    padding-right: 0.5rem;
  }

  .logo {
    width: 133px;
    height: 45px;
  }

  .tamañobotonflotante{
    width: 40px;
  }

  .display {
 display: none;
  }

  .display2{
    display: none;
  }

  .d-block{
   display: none !important;
  }

  .portadacontacto{
    display: none;
  }

  .mobile{
    display: inline;
  }

  li {
    padding: 0rem 1rem;
  }

  .formatoimagen {
    width: 100%;
  }

  main {
    font-size: 14px;
    padding-top: 20px;
  }

  .contenedorindex{
    display: flex;
    flex-direction: column-reverse;
  }

  .contenedorindex2{
    display: flex;
    flex-direction: column;
  }

  .contenedorimg{
   width: 60%;
  }

  .titulos {
    font-size: 18px;
    padding-top: 60px;
  }

  .queeslaesi{
    text-align: justify;
  }

  .boton {
    width: 145px;
    height: 35px;
    border-radius: 10px;
    font-size: 14px;
  }

  footer span {
    font-size: 16px;
  }

  h1 {
    font-size: 22px;
  }

  ol div {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-bottom: 10px;
  }

  .circulo {
    font-size: 15px;
  }

  main p {
    padding-bottom: 45px;
  }

  .gridForm {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
  }

  label {
    font-size: 16px;
    margin-top: 20px;
  }

  .nombre-ingresa {
    margin-top: 0%;
  }

  .grid {
    grid-template-columns: 20% 80%;
  }

  .grid2 {
    grid-template-columns: 20% 80%;
  }


}
