@media screen and (max-width: 991px) {
  
    .navprincipal{
      display: none;
    }
    
    .navhamburguesa{
      display: inline;
    }
    
    .navbar-light .navbar-toggler{
      padding-top: 1rem;
      padding-right: 1rem;
    }

  main{
    font-size: 18px;

    .titulos {
      font-size: 26px;
     }

    .seccion{

    .titulos {
      font-size: 26px;
    }
    .contenedorimg{
      width: 60%;
      height: 60%;
    }
  }
 }
}


  
  
  @media screen and (max-width: 800px) {

    .mobile{
      display: inline !important;
      }
    .display {
      display: none;
      }
      .display2{
      display: none;
      }
      .portadacontacto{
      display: none;
      }

  .tamañobotonflotante{
    width: 40px;
  }
  
    header {
      height: fit-content;
      padding-right: 0.5rem;
      .logo {
        width: 133px;
        height: 45px;
      }
    }
    
    main {
        font-size: 16px;
        padding: 3rem 2rem 2rem 2rem;
        text-align: justify;

        .titulos {
          font-size: 22px;
         }

        .seccion{
        display: flex;
        flex-direction: column;
        padding-bottom: 3rem;

        .titulos {
          font-size: 22px;
        }

        .contenedorimg{
          width: 70%;
          align-self: center;
          padding-bottom: 2rem;
         }

         .ilustracionuno{
           margin-right: 0px;
         }
         
        .queeslaesi{
          text-align: justify;
        }

         #tituloqueeslaesi {
        text-align: left;
        }


        .importancia{
          text-align: justify;
        }

        .textoindex{
          width: 100%;
      }
    }

    .seccionespecial{
      display: flex;
      flex-direction: column-reverse;
    }

        .botonesdemain{
          padding-bottom: 2rem;
        }

        .sectioncard 
        .card-header-title{
          font-size: 18px;
        }
      
          
.grid{

    grid-template-columns: none;

      div {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-bottom: 10px;

        &__p {
          padding-bottom: 45px;
        }
      }
    }

     .boton {
      width: 145px;
      height: 35px;
      border-radius: 10px;
      font-size: 14px;
    }
  
    footer span {
      font-size: 16px;
    }
  
  
    .gridForm {
      display: flex;
      flex-direction: column;
      padding-bottom: 2rem;
      border: 2px solid $colorTitulosMain;
      box-shadow: none;
      justify-content: center;
      padding-left: 2rem;
      padding-top: 2rem;
      width: 100%;
      
        label {
            font-size: 16px;
            margin-top: 20px;
        }
        
        .nombre-ingresa {
            margin-top: 0%;
        }
        
        .grid {
            grid-template-columns: 20% 80%;
        }
        
        .grid2 {
            grid-template-columns: 20% 80%;
        }
    }
  }
  ol{
    padding-left: 0px;
  }
}
  
@media screen and (max-width: 400px) {

  main{
    font-size: 14px;

    .titulos {
      font-size: 18px;
     }

    .paddingbottom{
      padding-bottom: 2rem;
    }

    .grid{
      display: flex;
      flex-direction: column;
      align-items: center;

      .contenedorli{
        padding-bottom: 2rem;
      }
    }

    .carousel{
      width: 100%;
    }

    .seccion{

    .titulos {
      font-size: 18px;
     }
   }
 }
}