
.imagenportada{
    width: 100%;
  }

.formatoimagen {
   width: 65%;
 }

 .imagencurso{
  width: 100%;
  }

  .botonbajar{
    position: relative;
    top: -200px;
    left: 48vw;
    z-index: 0;
  }

  .botonbajar2{
    top:-25px;
  }

  .botonbajar3{
    top: -40px;
  }

