
.imagenportada{
    width: 100%;
  }

.formatoimagen {
   width: 65%;
 }

 .imagencurso{
  width: 100%;
  }

  .botonbajar2{
    position: relative;
    top: -40px;
    left: 48vw;
    z-index: 0;
  }

  .botonbajar{
    top:-220px;
  }

  .botonbajar3{
    top: -60px;
  }