
/*COLORES*/

$colorTitulosMain: #8BBA5F;
$backgroundDegrade: linear-gradient(
    90deg,
    #1792b3 2.15%,
    #0bb4bf 43.43%,
    #33c198 74.52%,
    #8BBA5F 100%
  );
$colorLineasImportantes:#0bb4bf;
$backgroundBotones: #8BBA5F;
