
/*COLORES*/

$colorTitulosMain: #95D15D;
$backgroundDegrade: linear-gradient(
    90deg,
    #1792b3 2.15%,
    #0bb4bf 42.21%,
    #32d5a6 73.81%,
    #63d381 100%
  );
$colorLineasImportantes:#70BC7B;
$backgroundBotones: #95d15d;
